<div class="container mt-4">
  <h1 class="mb-4">Oferecemos os seguintes serviços</h1>

  <div class="row">
    <% @services.each do |service| %>
      <div class="col-md-4">
        <div class="card h-100">
          <% if service.photo.present? %>
            <%= image_tag service.photo, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= service.title %></h5>
            <p class="card-subtitle"><%= service.category %></p>
            <h6 class="card-subtitle mb-3">R$ <%= number_with_precision(service.price, precision: 2) %></h6>
            <%= link_to "Ver detalhes", service_path(service), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
