
    <h1>Oferecemos os seguintes servicos</h1>
      <% @services.each do |service| %>
            <%= service.title%>
            <%= service.category%>
            <%= service.price%>
            <%= service.photo%>
            <%= service.user.id%> 
     <%end%>
