<div class="container mt-4">
  <div class="container mt-4">
    <div class="d-flex justify-content-center mb-4">
      <h1 class="main-title" style="color: #2F4F4F;">Minhas Experiências Como Chef</h1>
    </div>

    <div class="d-flex justify-content-end">
      <%= link_to new_service_path, class: "btn btn-success btn-add" do %>
        <i class="fas fa-plus me-2"></i>Adicionar Nova Experiência
      <% end %>
    </div>
  </div>

  <% if @services.any? %>
    <div class="row">
      <% @services.each do |service| %>
        <div class="col-md-4">
          <div class="card h-100" style="border-radius: 8px;">
            <div class="card-body">
              <h5 class="card-title"><%= service.title %></h5>
                <% if service.photo.attached? %>
                <div class="card-photo"><%= cl_image_tag service.photo.key, crop: :fill %></div>
                <% end %>
              <p class="card-subtitle"><%= service.category %></p>
              <h6 class="card-subtitle mb-3">R$ <%= number_with_precision(service.price, precision: 2) %></h6>
              <%= link_to "Ver detalhes", service_path(service), class: "btn btn-primary btn-add" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card card-details">
      <div class="card-body text-center">
        <p class="mb-0">Você ainda não cadastrou nenhum serviço.</p>
      </div>
    </div>
  <% end %>
</div>

  <%# botão de voltar para página anterior %>
  <div class="text-center mt-4">
    <%= link_to '< Voltar', :back , class: 'btn btn-warning btn-custom' %>
  </div>
