<!DOCTYPE html>
<html>
  <head>
    <title>ChefToi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# removido a class notice e alert pq já temos o render do flash no _flashes - Máira %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="global-background">
      <%= yield %>
    </div>
  </body>
</html>
