<!DOCTYPE html>
<html>
<head>
  <title>ChefToi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column min-vh-100">
  <%# Navbar compartilhada %>
  <%= render "shared/navbar" %>

  <%# Renderização dos flashes (alertas e notificações) %>
  <%= render "shared/flashes" %>

  <%# Conteúdo principal da página %>
  <main class="flex-grow-1">
    <%= yield %>
  </main>

  <%# Footer fixado no final da página %>
  <footer class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      ChefToi <i class="fa-solid fa-utensils"></i>
    </div>
  </footer>
</body>
</html>
